

<h1>Unique routes Search</h1>

<%= form_for search_path, method: :get do |f| %>
  <p>
    <%= f.label "Search for" %>
    <%= text_field_tag :q, params[:q] %>
    <%= submit_tag "Go", name: nil %>
  </p>
<% end %>
 
<table>
  <thead>
    <tr>
      <th>Departure City Code</th>
      <th>Arrival City Code</th>
      <th>Weekly Flights Count</th>
      <th>Distance</th>
      <th>HOP</th>
      <th>Departure City Name</th>
      <th>Arrival City Name</th>
      <th>Schedule Route Url</th>
      <th>Departure City Name AR</th>
      <th>Arrival City Name AR</th>
    </tr>
  </thead>
 
  <tbody>

    <% @unique_routes.each do |book| %>
      <tr>
        <td><%= book.dep_city_code %></td>
        <td><%= book.arr_city_code %></td>
        <td><%= book.weekly_flights_count %></td>
        <td><%= book.distance %></td>
        <td><%= book.hop %></td>
        <td><%= book.dep_city_name %></td>
        <td><%= book.arr_city_name %></td>
        <td><%= book.schedule_route_url %></td>
        <td><%= book.dep_city_name_ar %></td>
        <td><%= book.arr_city_name_ar %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<script>
</script>
